In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
from glob import glob

# 파일 불러오기
raw = pd.read_excel(glob('Data/방한 외국인 방문 목적')[0])

# 필요한 데이터 추출
raw = raw.drop('BASE:전체',axis=1)
raw = raw.set_index('Unnamed: 1')
df_m = raw.iloc[1:13]
df_c = raw.iloc[13:34]
df_s = raw.iloc[34:36]
df_a = raw.iloc[36:]

# 데이터 전처리
df_c.index = df_c.index.str.replace(' ','')
df_c.index = df_c.index.rename('국가')
df_c['사례수'] = df_c['사례수'].str.replace('(','')
df_c['사례수'] = df_c['사례수'].str.replace(')','')
df_c['사례수'] = df_c['사례수'].astype(int)
df_new = pd.DataFrame(index=df_c.index ,columns=['여가, 위락, 휴식','사업 또는 전문 활동','교육 (어학 프로그램, 연수 등)','종교 및 순례','기타'])
df_new['여가, 위락, 휴식'] = round(df_c['사례수'] * df_c['여가, 위락, 휴식'] * 0.01, 3)
df_new['사업 또는 전문 활동'] = round(df_c['사례수'] * df_c['사업 또는 전문 활동'] * 0.01, 3)
df_new['교육 (어학 프로그램, 연수 등)'] = round(df_c['사례수'] * df_c['교육 (어학 프로그램, 연수 등)'] * 0.01, 3)
df_new['종교 및 순례'] = round(df_c['사례수'] * df_c['종교 및 순례'] * 0.01, 3)
df_new['기타'] =  round(df_c['사례수'] * df_c['기타'] * 0.01, 3)

# 전체 데이터 추가
new_data = {'여가, 위락, 휴식': round(df_new['여가, 위락, 휴식'].sum(),3), '사업 또는 전문 활동':round(df_new['사업 또는 전문 활동'].sum(),3),
           '교육 (어학 프로그램, 연수 등)': round(df_new['교육 (어학 프로그램, 연수 등)'].sum(),3),'종교 및 순례':round(df_new['종교 및 순례'].sum(),3),'기타':round(df_new['기타'].sum(),3)}
new_data = pd.DataFrame(new_data, index=['전체'])
df_new_all = df_new.append(new_data)

C:\temp\ipykernel_27124\203373313.py:21: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_c['사례수'] = df_c['사례수'].str.replace('(','')
C:\temp\ipykernel_27124\203373313.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c['사례수'] = df_c['사례수'].str.replace('(','')
C:\temp\ipykernel_27124\203373313.py:22: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_c['사례수'] = df_c['사례수'].str.replace(')','')
C:\temp\ipykernel_27124\203373313.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c['사례수'] = df_c['사례수'].str.replace(')','')
C:\temp\ipykernel_27124\203373313.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c['사례수'] = df_c['사례수'].astype(int)
C:\temp\ipykernel_27124\203373313.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new_all = df_new.append(new_data)

In [2]:
df_new_all

       여가, 위락, 휴식  사업 또는 전문 활동  교육 (어학 프로그램, 연수 등)  종교 및 순례      기타
일본       2660.875      609.481              70.395   13.840   3.409
중국       4559.162      683.440             187.531   16.868   0.000
홍콩        708.026       71.323               9.652    0.000   0.000
싱가포르      192.712       50.854               6.955    0.312   0.166
대만       1150.644      111.531              21.145    2.679   0.000
태국        526.240       41.045              18.426    2.289   0.000
말레이시아     364.364       33.887              15.924    0.824   0.000
호주        107.560       45.148               6.636    0.000   0.656
미국        616.874      381.957              34.029    5.415   7.724
캐나다       151.959       45.360               4.694    1.069   1.919
영국         76.377       56.735               1.113    0.000   0.775
독일         50.354       65.810               3.418    0.255   1.164
프랑스        60.470       39.029               6.266    0.000   0.234
러시아       199.210       73.111               9.511    2.013   1.155
중동        148.227       89.287              12.043    1.895   0.548
인도         11.218       78.054               6.207    0.521   0.000
필리핀       280.022       42.591              10.266    3.121   0.000
인도네시아     170.525       50.035              12.441    0.000   0.000
베트남       400.896       63.296              16.686    3.122   0.000
몽골        100.106       25.949               6.571    0.000   0.374
기타        377.199      327.029              26.712    4.940   5.119
전체      12913.020     2984.952             486.621   59.163  23.243